<planned-activities class="panel">
    <h2>Planned Activities</h2>
    <form class="form-inline">
        <label>From: </label>
        <select class="form-control" title="From" ng-model="plan.lastTime"
                ng-options="plan.timeToString(p) for p in plan.planTimes"></select>
    </form>
    <form class="form-inline searchForm">
        <label>Filter for: </label>
        <input class="form-control" type="text" title="Search activity" ng-model="plan.query" />
    </form>
    <div class="panel">
        <ul class="list-group plannedActivityList">
            <li class="list-group-item" ng-repeat="activity in plan.activities | filter:plan.query | orderBy:howLong">
                <planned-activity-item>
                    <form class="form-inline">
                        <label class="h4 spacer-post">{{activity.description}}</label>
                        <label>For how long: </label>
                        <input class="form-control" type="number" min="1" max="8" title="How Long"
                               ng-model="activity.howLong" />
                        <button class="form-control pull-right" title="Add" ng-click="plan.AddToPlan($event, activity)">Add!</button>
                    </form>
                </planned-activity-item>
            </li>
        </ul>
    </div>
</planned-activities>
<schedule-plan class="panel">
    <h2>Schedule Plan</h2>
    <schedule-table-item-collection class="scheduleTable">
        <schedule-table-header class="scheduleTableRow">
            <div class="timeSlotsTable">
                <h3>Time slots</h3>
            </div>
            <div class="activitiesTable">
                <h3>Activities</h3>
            </div>
            <div class="activitiesTable">
                <h3>How Long</h3>
            </div>
        </schedule-table-header>
    </schedule-table-item-collection>

    <accordion close-others="oneAtATime">
        <accordion-group heading="Monday" is-open="true" is-disabled="false">
            <schedule-table-item-collection class="scheduleTable">
                <schedule-table-item class="scheduleTableRow" ng-repeat="sunday in plan.activitySchedule.timePlan | orderBy:'time':reverse">
                    <div class="timeSlotsTable timeSlotsTableItem">
                        {{plan.timeToString(sunday.time)}}
                    </div>
                    <div class="dailyActivitiesTable">
                        {{sunday.description}}
                    </div>
                    <div class="dailyActivitiesTable">
                        {{sunday.howLong}}
                    </div>
                </schedule-table-item>
            </schedule-table-item-collection>
        </accordion-group>
    </accordion>

</schedule-plan>
